<style type="text/css">
	#insertid form input{
		padding: 5px;
		margin: 5px;
	}
	#insertid form input[type='submit']{
		background-color: #508af7;
		width: 100px;
	}
 </style>
 <br>
<div style="margin:50px;border:1px solid #2d4b4c;width:50%;" id="insertid">
<h2 class="text-center">添加科目表</h2>
	<form action="insertkmdo.php" method="post" class="text-center">

		<br>

		科目名称：<input placeholder="请录入名称" type="text" value="" name="km_name" ><br>
		<input type="submit" value="添加"  name="sub" >
	</form>
</div>

	
</body>
<script type="text/javascript">

</script>
</html>