<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body> -->
<!--  <{$aa}>-->


    <div style="width:70%;float:left;margin:50px;" class="">
        <h2 class="text-center">学生信息表</h2>

	    <select name="" id="tiaoshu">
		   	<option value="5">5</option>
		   	<option value="8">8</option>
		   	<option value="10">10</option>
		   	<option value="12">12</option>
		   	<option value="15">15</option>
		   	<option value="20">20</option>
		   	<option value="25">25</option>
		   	<option value="50">50</option>
		</select>&nbsp;显示行数

     	<a href="insertstudent.php" style="padding:5px">
				<span><i class="fa fa-plus-square-o" style="margin-right:2px;"></i>添加学生</span>
		</a>

         <div style="float:right;line-height:30px;">
         	内容筛选：<input style="margin-bottom:10px;float:right;height:30px;border:1px solid #7bcdd6;" type="text" id="searchid">
         </div>
	     

		 <form action="">
		    <table class="table table-striped table-bordered table-hover text-center" id="at" >
		      
		       <tr style="background:#7bcdd6;">
		       	<td><i class='fa fa-user'></i>学号</td>
		       	<td>姓名</td>
		       	<td>性别</td>
		       	<td>班级</td>
		       	<td colspan="2" ><i class='fa fa-wrench'></i>操作</td>
		       </tr>

		    	<{foreach $arr as $d}>
		    		 <tr title="tt">
		    		 	<td><{$d.studentId}></td>
		    		 	<td><{$d.name}></td>
		    		 	<td><{$d.gender}></td>
		    		 	<td><{$d.class}></td>
		    		 	<td><a href="updatestudent.php?id=<{$d.id}>">修改</a></td>
		    		 	<td><a href="deletestudent.php?id=<{$d.id}>&sId=<{$d.studentId}>&sname=<{$d.name}>">删除</a></td>
		    		 </tr>
			      
			    <{/foreach}>
		    </table>
    	</form>
    	
	    	<div style="">
				<button style="background:#7bcdd6;padding:4px;" id="Pre">上一页</button>&nbsp;&nbsp;
	    		<button  style="background:#7bcdd6;padding:4px;" id="Next">下一页</button>
			</div >
			
			
    	
		
    	
    </div> 
    <br />
    
   
</body>

	
<script type="text/javascript">


	$(function(){

		$trleg=$("#at tr").length;
		 var arr=new Array();
		
			for(var i=0;i<$trleg;i++){
		 		arr[i]=$("#at tr:eq("+i+")");
		 }

	var $tiaoshu=5;
	 $("#at tr:gt("+$tiaoshu+")").remove();
   
  	var $pageleng=Math.ceil(($trleg-1)/$tiaoshu);
  	var $yunum=($trleg-1)%$tiaoshu;
 	// alert($yunum+"====="+$pageleng);
 
  	var $Nowpage=1;

	$("#Next").click(function(){
  
  	$Nowpage+=1;
  
   var temp2=($Nowpage)*$tiaoshu+1;
   
   $("#at tr:gt(0)").remove();
	if($Nowpage>$pageleng){
		
		$Nowpage=$pageleng;
	}
  	if($Nowpage==$pageleng){  
  	//temp1=($Nowpage-1)*5+1;
  	if($yunum!=0){
     temp2=$trleg;
     
  	}else{

  	}
  	
  }
	var temp1=($Nowpage-1)*$tiaoshu+1;

 	 for(var i=temp1;i<temp2;i++){
  	$("#at").append(arr[i]);
  	}
 

});

	$("#Pre").click(function(){
	$Nowpage--;
    if($Nowpage<1){
    	$Nowpage=1;
    }
 	$("#at tr:gt(0)").remove();

   var temp2=($Nowpage)*$tiaoshu+1;
   var temp1=($Nowpage-1)*$tiaoshu+1;

  if(temp2>$trleg){
  	temp2=$trleg
  }

  for(var i=temp1;i<temp2;i++){
  	$("#at").append(arr[i]);
  }

  });



		 
		  

		   $("#searchid").on('input',function(e){  
            		
            	var $tempval=$("#searchid").val();
            	$tempval=$tempval.toString();
            	//alert(typeof($tempval));
            	if ($tempval!='') {

                 $("#at tr:gt(0)").remove();
               
                 var $temp=0;
				for(var i=0;i<$trleg;i++){
					
					var childcon=arr[i].children().text();
					//alert(typeof(childcon));
					//var result=childcon.indexOf();
					//childcon=childcon.toString();
					//if (childcon.search($tempval)>0 && $tempval!='') {
						if (childcon.match($tempval)!=null && $tempval!='') {
						$temp++;
						$("#at").append(arr[i]);
					}	
		 		}

		 			if($temp==0){

		 					var temp3='<tr><td colspan="6">没有任何信息</td></tr>';
		 					$("#at").append(temp3);
		 				}


		 			}else{
		 				$Nowpage=1;
		 				 $("#at tr:gt(0)").remove();
		 				 
		 				for (var i = 0; i < $tiaoshu+1; i++) {
		 					$("#at").append(arr[i]);
		 					$temp++;
		 				};

		 				
		 			}
             });
		 
		
		  //条数
		  $('#tiaoshu').change(function(){
		  	$Nowpage=1;

			$tiaoshu=parseInt($(this).val());
   			$pageleng=Math.ceil(($trleg-1)/$tiaoshu);
   			$yunum=($trleg-1)%$tiaoshu;
		  	
		  	 $("#at tr:gt(0)").remove();
		 	for (var i = 0; i < $tiaoshu+1; i++) {
		 			$("#at").append(arr[i]);
		 				};
	
		  });


	});
	
</script>
</html>