
<!-- 

 -->
 <style type="text/css">
	#updateid form input{
		padding: 5px;
		margin: 5px;
	}
	#updateid form input[type='submit']{
		background-color: #508af7;
		width: 100px;
	}
 </style>
 <br>
<div style="margin:50px;border:1px solid #2d4b4c;width:50%;" id="updateid">
	<h2 class="text-center">修改学生表</h2>
	<form action="updatescoredo.php" method="post" class="text-center">

		<input type="hidden" value="<{$s_id}>" name="s_id" >
		<br>
		学号：<input  type="text" value="<{$s_stuId}>" name="s_stuId">
		<br>
		
		科目：<select name="s_kmname" id="" style="margin:8px;margin-left:100px;">
			
			<{foreach $arr as $km}>

			<option value="<{$km}>" <{if ($km == $s_kmname)}>selected='selected' <{/if}> > <{$km}> </option>
			
			<{/foreach}>
			
		</select>
		
		<!-- 科目：<input type="text" value="<{$s_kmname}>"  name="s_kmname" > -->
		<br>
		
		成绩：<input type="text" value="<{$s_cj}>" name="s_cj" ><br>
		<input type="submit" value="修改"  name="sub" >
	</form>

</div>

	
</body>
<script type="text/javascript">

</script>
</html>