<style type="text/css">
	#insertid form input{
		padding: 5px;
		margin: 5px;
	}
	#insertid form input[type='submit']{
		background-color: #508af7;
		width: 100px;
	}
 </style>
 <br>
<div style="margin:50px;border:1px solid #2d4b4c;width:50%;" id="insertid">
<h2 class="text-center">修改用户密码</h2>
	<form action="updatepwddo.php" method="post" class="text-center">

		<br>
			<input type="hidden" value="<{$user}>" name="user">
		用户名：<input disabled="false" placeholder="" type="text" value="<{$user}>" >
		<br>
		原密码：<input placeholder="请输入原密码" type="password" value="" name="old_pwd" ><br>
		新密码：<input placeholder="请输入新的密码" type="password" value="" name="new_pwd" ><br>
		<input type="submit" value="修改"  name="sub" >
	</form>
</div>

	
</body>
<script type="text/javascript">

</script>
</html>